{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "browsers": ["> 1%", "last 2 versions", "ie 11"]
        },
        "useBuiltIns": "entry",
        "corejs": 2
      }
    ],
    "@babel/preset-react"
  ],
  "ignore": ["node_modules"],
  "plugins": [
    ["@babel/plugin-proposal-decorators", { "legacy": true }],
    "@babel/plugin-transform-classes",
    "@babel/plugin-proposal-object-rest-spread",
    "@babel/plugin-transform-spread"
  ]
}
