{
  "presets": [
    [
      "@babel/preset-env",
      {
        "include": [
          "@babel/plugin-transform-spread",
          "@babel/plugin-transform-classes"
        ],
        "useBuiltIns": "entry",
        "corejs": 2
      }
    ],
    "@babel/preset-react"
  ],
  "ignore": ["node_modules"],
  "plugins": [
    ["@babel/plugin-proposal-decorators", { "legacy": true }],
    [
      "@babel/plugin-proposal-object-rest-spread",
      { "loose": true, "useBuiltIns": true }
    ]
  ]
}
